
<div>
    <button ng-click="showReg()">{{status}}</button>
    <div ng-show="!reg">
        <h3>Login:</h3>
        <form ng-submit="login()">
            <input type="email" ng-model="details.email" placeholder="email"/>
            <input type="password" ng-model="details.password" placeholder="password"/>
            <button>Login</button>

        </form>
    </div>
    <div ng-show="reg">
        <h3>Register:</h3>
        <form ng-submit="register()">
            <input type="email" ng-model="details.email" placeholder="email"/>
            <input type="password" ng-model="details.password" placeholder="password"/>
            <button>Submit</button>
        </form>
    </div>
</div>